keybinds {
    shared_except "locked" "scroll" "search" "tmux" {
        unbind "Ctrl b"
        bind "Ctrl a" { SwitchToMode "tmux"; }
    }
}

ui {
  pane_frames {
    rounded_corners true
  }
}
theme "catppuccin-mocha"

show_startup_tips false
